.ios, .md {

    page-scan {

        ::selection {
            background: transparent;
        }
        
        @include input-with-color-background('light-grey'); 

        .list-md .item-input:last-child {
            border-bottom: none;
        }

        .text-input-md,
        .text-input-ios {
            margin: 0;
        }

        .edit-icon {
            width: 54px;
            text-align: right;
            position: absolute;
            right: 0px;
            top: 0px;
            padding-right: 16px;
            margin: 13px 0 13px 0 !important;
            color: map-get($colors, light-text);
            z-index: 99;
        }

        .form-input {
            ion-label {
                display: none;
            }
        }

        .custom-input p {
            line-height: 45px !important;
            height: 45px !important;
            color: map-get($colors, dark-text);
            font-weight: 700;
        }

        // Green -> Grey Keyframes
        @keyframes fadeValidBorder {
            0% { border: 1px solid lighten(map-get($colors, green), 20); }
            100%   { border: 1px solid lighten(map-get($colors, light-text), 40); }
        }

        @keyframes fadeValidBackground {
            0%   { background-color: lighten(map-get($colors, green), 45) !important; }
            100% { background-color: map-get($colors, light-grey) !important; }
        }

        @keyframes fadeValidColor {
            0%   { color: map-get($colors, green);}
            100% { color: map-get($colors, dark-text); }
        }

        // Red -> Grey Keyframes
        @keyframes fadeInvalidBorder {
            0% { border: 1px solid lighten(map-get($colors, red), 30); }
            100%   { border: 1px solid lighten(map-get($colors, light-text), 40); }
        }

        @keyframes fadeInvalidBackground {
            0%   { background-color: lighten(map-get($colors, red), 50) !important; }
            100% { background-color: map-get($colors, light-grey) !important; }
        }

        @keyframes fadeInvalidColor {
            0%   { color: map-get($colors, red);}
            100% { color: map-get($colors, dark-text); }
        }

        .custom-input.barcode {

            ion-input  {
                padding: 10px 0 !important;
                margin: 0 !important;
                line-height: 30px !important;
                height: 60px !important;
                color: map-get($colors, dark-text) !important;
                font-weight: 700;

                display: flex;
                align-items: center;

                input {
                    padding-left: 50px;
                    padding-right: 50px;
                    width: calc(100% - 100px);
                    text-align: center;
                    font-size: 30px;
                    line-height: 30px;
                }
            }
        }


        .custom-input.barcode {

            .barcode-icon {
                height: 64px;
                font-size: 36px;
                line-height: 36px;
                text-align: left;
                position: absolute;
                left: 16px;
                top: 0;
                bottom: 0;
                display: flex;
                align-items: center;
                z-index: 99;
            }

            &.empty {                
                border: 1px solid lighten(map-get($colors, light-text), 40);
                ion-input { background-color: map-get($colors, light-grey) !important; }
                .barcode-icon, input { color: map-get($colors, dark-text); }
            }

            &.valid {
                border: 1px solid lighten(map-get($colors, light-text), 40);
                animation: fadeValidBorder 2s ease-in-out;
                ion-input { animation: fadeValidBackground 2s ease-in-out; }
                .barcode-icon, input { animation: fadeValidColor 2s ease-in-out; }
            }

            &.invalid {
                border: 1px solid lighten(map-get($colors, light-text), 40);
                animation: fadeInvalidBorder 2s ease-in-out;
                ion-input { animation: fadeInvalidBackground 2s ease-in-out; }
                .barcode-icon, input { animation: fadeInvalidColor 2s ease-in-out; }
            }
        }

        .total-grid {

            background-color: map-get($colors, light-grey) !important; 

            padding: 16px;

            ion-col {
                padding-left: 0;
                padding-right: 0;
            }

            .horizontal-graph {
                height: 16px;
                display: inline-block;
                background-color: map-get($colors, light-text) !important; 
            }

            .total {
                text-align: right;
            }
        }

        
    }

}