page-search {
    .img{
        width: 100%;
        margin-bottom: 20px;
    }
    .title{
        text-align: center;
        font-weight: bold;
    }
    .description{
        text-align: right;
    }

    #search-form {
        margin: 16px;
        .item {
            border: 1px solid map-get($colors, dark);
            background: map-get($colors, light);
            margin: 0;
        }
        input[type='text'] {
            border: none;
            width: 100%;
            background: map-get($colors, light);
        }
    }
}