 .ios, .md {
    page-login {
        @include centered-text(24px auto);
        

        #hidden-btn {
            visibility: hidden;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: 0;
        }

        ion-row.centered {
            color: map-get($colors, primary);
            font-weight: 500;
        }
    }
 }

// Arabic language styles
// ---------------------------------------------
ion-app.lang-ar { 
    page-login  { 

    }
}