 .ios, .md {
    page-register {
        
        

        #hidden-btn {
            visibility: hidden;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: 0;
        }
    }
 }

