<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar>
            <ion-title>القائمة</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <button *ngFor="let p of pages" menuClose ion-item (click)="openPage(p)">
                {{p.title}}
            </button>

            <button *ngIf="!isUserLogin" menuClose ion-item (click)="openLogin()">
                تسجيل الدخول
            </button>
            <button *ngIf="!isUserLogin" menuClose ion-item (click)="openRegister()">
                مستخدم جديد
            </button>
            <button *ngIf="isUserLogin" menuClose ion-item (click)="openFavorite()">
                المفضلة
            </button>
            <button *ngIf="isUserLogin" menuClose ion-item (click)="logOff()">
                خروج
            </button>
            
        </ion-list>
    </ion-content>
</ion-menu>
<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [class]="fontSize" [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>