// Global styles
// --------------
// 01. Typography
// 02. Helpers
// 03. Main components
// 04. Custom Arabic styles

/* ------------------------------------ */
/* 01 Typography                        */
/* ------------------------------------ */
.label-ios[stacked], .label-md[stacked], .label-wp[stacked] {
    font-size: inherit;
    font-weight: 500;
    margin-bottom: 8px;
}


/* ------------------------------------ */
/* 02 Helpers                           */
/* ------------------------------------ */
.vertical-center {
    .fixed-content,
    .scroll-content {
        display: flex;
        align-items: center;
    }
}

ion-toast.offline .toast-wrapper{
    background-color: map-get($colors, red);
}
ion-toast.online .toast-wrapper{
    background-color: map-get($colors, green);
}

// Main Logo
// ---------------------------------
@mixin logo($size, $padding) {
    ion-row.logo-container {
        padding: $padding;
    }
    div.logo {
        background-image: url(../assets/img/logo.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center, center;
        width: 100%;
        height: $size;
        background-position: center, center;
    }
}

// Inputs with background color
// ---------------------------------
@mixin input-with-color-background($color) {

    .list-ios,
    .list-md,
    .list-wp {
        margin: 0px !important;
    }


    ion-item.item-ios.item-block.form-input,
    ion-item.item-md.item-block.form-input,
    ion-item.item-wp.item-block.form-input {
        margin-bottom: 16px;
        padding-left: 0px;
        padding-right: 0px;

        .item-inner {
            padding-right: 0;
        }

        .custom-input, .custom-input p {
            width: 100%;
            line-height: 36px;
            margin: 0;
        }

        ion-input, ion-select, &.item-radio, .custom-input p {
            height: 36px;
            padding-left: 16px;
            padding-right: 16px;
            background-color: map-get($colors, #{$color});
        }

        ion-input, ion-select .select-text {
            color:map-get($colors, light-text);
        }

        // Radio items
        &.item-radio {
            margin-bottom: 4px;

            ion-label,
            .radio-md .radio-icon {
                color:map-get($colors, light-text);
            }

            &.item-radio-checked ion-label {
                font-weight: 700;
                color:map-get($colors, primary);
            }

        }



    }


    /* Remove input lines on iOS */
    .list-ios[inset] .item {
        border-bottom: none;
    }

    /* Remove input lines on windows phone */
    .text-input-wp {
        border: none;
    }
}

// Single button container
// ---------------------------------
@mixin simple-button-container($margin) {
    ion-row.simple-btn-container {
        margin: $margin;

        ion-col {        
            padding-left: 0;
            padding-right: 0;
        }
    }
}

// Double button container
// ---------------------------------
@mixin double-button-container($margin) {
    ion-row.double-btn-container {
        margin: $margin;

        ion-col:nth-child(1) {
            padding-left: 0;
            padding-right: 5px;
        }
        ion-col:nth-child(2) {
            padding-left: 5px;
            padding-right: 0;
        }
    }
}

// Centered text
// ---------------------------------
@mixin centered-text($margin) {
    .centered {
        margin: $margin;
        text-align: center;
    }
}

/* ------------------------------------ */
/* 03 Main components                   */
/* ------------------------------------ */

form {
    width: 100%;
}

div.error-message {
    color: map-get($colors, danger);
    margin-top: 5px;
}

div.success-message {
    color: map-get($colors, green);
    margin-top: 5px;
}

/* ------------------------------------ */
/* 04 Custom Arabic styles              */
/* ------------------------------------ */

@mixin arabic-styles() {
    ion-app.lang-ar {
        direction: rtl;

        ion-row.double-btn-container {
            margin-top: 16px;

            ion-col:nth-child(1) {
                padding-left: 5px;
                padding-right: 0;
            }
            ion-col:nth-child(2) {
                padding-left: 0;
                padding-right: 5px;
            }
        } 
    }
}

@include arabic-styles();
